
    
    body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: antiquewhite;
  }
  a{
    font-family: verdana;
    font-size:14;
  }
  .estilo1 {
    background-color: rgb(182, 179, 179) ;
    color: rgb(0, 0, 0);
    border-width: 1;
    border-color:rgb(97, 95, 95);
    border-style: solid;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding: 25px 25px 25px 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 30%;
    display: block;
    border-radius: 5px;
  }
  .contenedor{
    width: 100%;
    border-width: 1;
    border-color: royalblue;
    border-style: solid;
    margin: 0 auto;
    background-color: white;
    padding: 8px 8px 8px 8px;
    border-radius: 8px;
  }
